<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autotech.MyApp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="MyApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity 
        android:name=".MainActivity"
        android:exported="true"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    
    <activity
        android:name=".pages.SettingsActivity"
        android:exported="true" />

    <activity
        android:name=".pages.ChatActivity"
        android:exported="true" />

    <!--    <activity
        android:name=".pages.ProfileActivity"
        andorid:exported="true" />

    <activity
        android:name=".pages.ChatActivity"
        andorid:exported="true" />
        
    <activity
        android:name=".pages.IndividualChatActivity"
    andorid:exported="true" />-->

    </application>

</manifest>
