<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="Create Order"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    

    <activity 
        android:name=".MainActivity"
        android:exported="true"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    
    <activity
        android:name=".pages.SettingsActivity"
        android:exported="true" />

    <activity
        android:name=".pages.ChatActivity"
        android:exported="true" />

    <activity
        android:name=".pages.HomeActivity"
        android:exported="true" />

    </application>

</manifest>
